<div class="row">
<div class="col-md-12 text-right">
<%= link_to 'home', user_session_path %> |
<%= link_to 'logout', destroy_user_session_path, {:method => "DELETE"} %>
</div>
<div class="col-md-10">
<%= image_tag "dayone.png" %>
</div>
</div>
<div class="col-md-10">
<p> Day One partners with New York City youth to end dating abuse and domestic violence through community education, supportive services, legal advocacy and leadership development. Serving the five boroughs of New York City, Day One uses an empowerment model that invests and involves young people in maintaining safe relationships for themselves and their peers.  </p> </div>
<div class="col-md-10 text-left" > 
<%= link_to "see timeline", events_path %> |
<%= link_to "authorize services", authorize_services_path %> 
</div>