<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content_source %><br>
    <%= f.text_field :content_source %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :person %><br>
    <%= f.text_field :person %>
  </div>
  <div class="field">
    <%= f.label :abuse_flag %><br>
    <%= f.check_box :abuse_flag %>
  </div>
  <div class="field">
    <%= f.label :content_created_at %><br>
    <%= f.datetime_select :content_created_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
