A list of all accounts you can pull from

<p>
Instagram
<%= form_for(@user) do |f| %>
  <p>
  Your User Name
  <%= f.label :instagram_user %>
  <%= f.text_field :instagram_user %>
  </p>

  <p>
  Other User Name
  <%= f.label :instagram_abuser %>
  <%= f.text_field :instagram_abuser %>
  </p>

  <%= f.submit 'Update Instagram' %>
<% end %>
</p>

<p>
Gmail - <%= link_to 'Authorize Gmail First', 'auth/google_oauth2' %>
<%= form_for(@user) do |f| %>
  <p>
  Your Gmail Address Name
  <%= f.label :gmail_user %>
  <%= f.text_field :gmail_user %>
  </p>

  <p>
  Other Gmail Address Name
  <%= f.label :gmail_abuser %>
  <%= f.text_field :gmail_abuser %>
  </p>

  <%= f.submit 'Update Gmail' %>
<% end %>
</p>
